
    <div class=" ml-4 size bg-white rounded overflow-hidden shadow-md">
        <img class="w-full" src="https://images.adsttc.com/media/images/5d44/14fa/284d/d1fd/3a00/003d/large_jpg/eiffel-tower-in-paris-151-medium.jpg?1564742900" alt="Imagen de la tarjeta">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Visita Paris</div>
            <p class="subtext-grey">Disfruta de la ciudad del amor, a un precio irresistible.</p>
            <button type="submit" class="btn-azul">Siguiente</button>
        </div>
    </div>
